{deps, [
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.2-community"}}},
    {cowboy,      ".*", {git, "git://github.com/extend/cowboy.git"}},
    {jiffy,       ".*", {git, "git://github.com/davisp/jiffy.git"}},
    {lager,       ".*", {git, "git://github.com/basho/lager.git"}}
]}.

{port_specs, [
    {"priv/brisco_jr_counter_nif.so", ["c_src/*.cpp"]}
]}.
{erl_opts, [debug_info]}.

{eunit_opts, [verbose]}.

{sub_dirs, ["rel"]}.
