{sys, [
    {lib_dirs, ["../deps"]},
    {erts, [
        {mod_cond, derived},
        {app_file, strip}
    ]},
    {app_file, strip},
    {rel, "brisco_jr", "0.0.1", [
        kernel,
        stdlib,
        crypto,
        lager,
        ranch,
        cowboy,
        brisco_jr
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "brisco_jr"},
    {profile, embedded},
    {excl_sys_filters, [
        "^bin/.*",
        "^erts.*/bin/(dialyzer|typer)"
    ]},
    {app, brisco_jr, [
        {incl_cond, include},
        {mod_cond, app},
        {lib_dir, ".."}
    ]}
]}.

{target_dir, "package"}.

{overlay, [
    {copy, "files/erl",        "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool",   "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "files/brisco_jr",  "bin/brisco_jr"},
    {copy, "files/app.config", "etc/app.config"},
    {copy, "files/vm.args",    "etc/vm.args"}
]}.

%% vim: ft=erlang
